
.close{
  position: absolute;
  top:2px;
  right:2px;
  text-decoration: none;
}



.ip{
  display: block;
  padding: 10px;
  margin:10px auto;
  border-radius: 20px;
  border:1px solid white;
  width: 75%;
  outline: none;
  transition: 1.5s;
}
.ip:hover{width: 100%;}
.signup{
  position:absolute;
  right:20px;
  top: 25px;
  text-shadow: 0 2px 5px white;
  z-index: 1;
  background: inherit;
  color: white !important;
  margin-left: 2px;
}
.login{
  position:absolute;
  right:80px;
  top: 25px;
  text-shadow: 0 2px 5px white;
  z-index: 1;
  background: inherit;
  color: white !important;
  margin-right: 20px;

}
.button-view{
  margin-left: 60%;
}

/* Fashion Store CSS Start */
/* Fashion Store Location Navbar Start */
.navbar-location
{
    padding-left: 24em;
    margin-top: -2em;
    background-color: #343A40;
    margin-bottom: 2em;
}

.location
{
    margin-top: -2px;
}

.input
{
    height:2.3em;
    width: 23em;
}

.search
{
    margin-top: -9px;
}

@media (max-width:700px) {
  .navbar-location
  {
    margin-left: -23em;
  }

  .input
  {
    width: 20em;
  }
}

/* Fashion Store Navbar Location End */
/* Fashion Store Card Start */
.fashionstorebutton
{
  margin-top: -3.8em;
}

@media (max-width:700px) {
.fashionstorebutton
{
  margin-top: 10px;
}
}
/* Fashion Store Card End */
/* Fashion Store End */
.view{
  margin-left: 80%;
}
