
.close{
  position: absolute;
  top:2px;
  right:2px;
  text-decoration: none;
}



.ip{
  display: block;
  padding: 10px;
  margin:10px auto;
  border-radius: 20px;
  border:1px solid white;
  width: 75%;
  outline: none;
  transition: 1.5s;
}
.ip:hover{width: 100%;}
.signup{
  position:absolute;
  right:20px;
  top: 25px;
  text-shadow: 0 2px 5px white;
  z-index: 1;
  background: inherit;
  color: white !important;
  margin-left: 2px;
}
.login{
  position:absolute;
  right:80px;
  top: 25px;
  text-shadow: 0 2px 5px white;
  z-index: 1;
  background: inherit;
  color: white !important;
  margin-right: 20px;

}
.button-view{
  margin-left: 60%;
}

/* <!----------------------------Fashion Store CSS Start----------------------------!> */
/* Fashion Store Location Navbar Start */
.navbar-location
{
    padding-left: 24em;
    margin-bottom: 1em;
}

.location
{
    margin-top: -2px;
}

.location-btn
{
  background-color: #D82578;
}

.input
{
    height:3.4em;
    width: 23em;
    margin: 1em;
}

.search
{
    margin-top: -3px;
}

@media (max-width:700px) {
  .navbar-location
  {
    margin-left: -23em;
  }

  .input
  {
    width: 17em;
    margin-left: 0;
  }
  .search-btn
  {
    width: 1em;
    height: 3.4em;
  }
  .search
  {
    margin-left: -8px;
  }
}

/* Fashion Store Navbar Location End */
/* Fashion Store Card Start */
.fashionstorebutton
{
  margin-top: -3.9em;
}

.location-btn-1, .location-btn-2, .location-btn-3,.location-btn-4
{
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  height: 37px;
  width: 13em;
  text-align: center;
  padding-top: 10px;
  text-transform: uppercase;
}

.location-btn-1
{
  background-color: #E9E0CE;
}

.location-btn-2
{
  background-color: #f3c0cc;
}

.location-btn-3
{
  background-color: #9cc0fa;
}

.location-btn-4
{
  background-color: #F4F1F3;
}

@media (max-width:700px) {
.fashionstorebutton
{
  margin-top: 10px;
}
}
/* Fashion Store Card End */
/* <!----------------------------Fashion Store CSS End----------------------------!> */
.view{
  margin-left: 80%;
}
