@import url("http://fonts.googleapis.com/css?family=Poppins:wght@300;500;700&display=swap");

/* custom colors */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}


/* <-------------------------Header styling starts-------------------------------> */
.logo{
  height:70px;
  border-radius: 40px;

}
.navstyle{
  text-decoration: none;
  list-style-type: none;
  color:white;
  padding: 8px;
}
.navstyle:hover{
  text-decoration: none;
  color:white;
}
/* <-------------------------Header styling ends-------------------------------> */
/* <-------------------------Footer styling starts-------------------------------> */

.footer  a{
  color: #fff !important;
  text-decoration:none !important;
}
.footer hr{
width:100%;
height: 5px !important;
}
.social-media{
float: right;
}

@media (max-width: 480px){
.social-media{
  float: left;
 }

}

/* <-------------------------Footer styling ends-------------------------------> */
/* <-------------------------Feature Cards styling starts-------------------------------> */

.featurecard1{
  box-shadow: 1px 1px 8px #949fdb;
}
.featurecard1:hover{
  box-shadow: 1px 1px 8px #0e1b64;
}
.featurecard2{
  box-shadow: 1px 1px 8px #8f9e7e;
}
.featurecard2:hover{
  box-shadow: 1px 1px 8px #697062;
}
.featurecard3{
  box-shadow: 1px 1px 8px #a59b7a;
}
.featurecard3:hover{
  box-shadow: 1px 1px 8px #5c502a;
}
.featurecard4{
  box-shadow: 1px 1px 8px #bd81ae;
}
.featurecard4:hover{
  box-shadow: 1px 1px 8px #492340;
}

.fetcard :hover{
  cursor:pointer
}

.card-img-top{
  height: 200px;
}

.rotcard:hover{
  transition: all 2s;
  animation: rotatefont 2s infinite linear alternate;
}
/* Carousel buttons */
.carousel-control-next-icon{
  opacity: 0;
}
.carousel-control-prev-icon{
  opacity: 0.3;
}
@keyframes rotatefont{
  0%{
      transform: scale(0.8);
  }
  100%{
      transform: scale(1);
  }
}
/* <-------------------------Feature Cards styling ends-------------------------------> */

.navbar-bg{
  background-color: var(--bgcolor);
  padding: 2rem 0;
  z-index: 99;         /*z-index to prevent flow of data on navbar*/
  position: relative;
}



.navbar li{
  /* to give space between items  */
  padding: 0 2rem;
}

.navbar li a{
  font-size: 1.4 rem;
  font-weight:inherit;
  
}
.navbar li a:hover{
  color: rgb(21, 195, 226)!important;
  text-shadow: 0 0.2rem 0.3rem rgba(207, 203, 236, 0.5);
  border-radius: 20px;
}


