/* <-------------------------Header styling starts-------------------------------> */
.logo{
  height:70px;
  border-radius: 40px;

}
.navstyle{
  text-decoration: none;
  list-style-type: none;
  color:white;
  padding: 8px;
}
.navstyle:hover{
  text-decoration: none;
  color:white;
}
/* <-------------------------Header styling ends-------------------------------> */
/* <-------------------------Footer styling starts-------------------------------> */
.footer{
    position: fixed; 
    bottom:0%;
}
.footer  a{
  color: #fff !important; 
  text-decoration:none !important;
}
.footer hr{
width:100%;
height: 5px !important;
}
.social-media{
float: right;
}

@media (max-width: 480px){
.social-media{
  float: left;
 }

}

/* <-------------------------Footer styling ends-------------------------------> */